{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{%static 'css/style3.css'%}">

  <title>Dashboard</title>
</head>

<body>
  <header>
    <div class="left_area">
      <a href="{% url 'login'%}" class="logout_btn">Logout</a>
      <a href="{% url 'feedback'%}" class="feedback_btn">Feedback</a>
      <link rel="icon" href="{% static 'images/img1.jpg' %}" sizes="32x32">
    </div>
  </header>

  <nav class="sidebar">
    <div class="text">Dashboard</div>
    <ul>
      <li><a href="#">Home</a></li>
      <li>
        <a href="#">Profile</a>
        <ul>
          <li><a href="#">Name</a></li>
          <li><a href="#">Mail Id</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Complain System </a>
        <ul>
          <li><a href="{% url 'academic'%}">Academic</a></li>
          <li><a href="{% url 'hostel'%}">Hostel</a></li>
          <li><a href="{% url 'mess'%}">Mess</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Setting</a>
        <ul>
          <li><a href="{% url 'forgotpassword'%}">Forget Password</a></li>
        </ul>
      </li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
  <div class="container">
    <div class="row">
      <div class="card h-25 p-2 mr-4" style="width: 22rem; background-color: rgb(158, 158, 111); color:#fff;">
        <div class="card-body">
          <h6 class="card-title font-weight-bold" style="font-size: 1.1rem;">
            total no. of complaints</h6>
          <p class="card-text m-0 font-weight-bold" style="font-size: 3rem;">8</p>
          <div class="progress" style="width:17rem; height:0.4rem;">
            <div class="progress-bar bg-danger" role="progressbar" style="width:5rem" aria-valuenow="100"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="card h-25 p-2 mr-4" style="width: 22rem; background-color: rgb(75, 158, 214); color:#fff;">
        <div class="card-body">
          <h6 class="card-title font-weight-bold" style="font-size: 1.1rem;">
            new complaints</h6>
          <p class="card-text m-0 font-weight-bold" style="font-size: 3rem;">0</p>
          <div class="progress" style="width:17rem; height:0.4rem;">
            <div class="progress-bar bg-danger" role="progressbar" style="width:0rem" aria-valuenow="100"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="card h-25 p-2 " style="width: 22rem; background-color: rgb(115, 85, 119); color:#fff;">
        <div class="card-body">
          <h6 class="card-title font-weight-bold" style="font-size: 1.1rem;">
            pending complaints</h6>
          <p class="card-text m-0 font-weight-bold" style="font-size: 3rem;">38</p>
          <div class="progress" style="width:17rem; height:0.4rem;">
            <div class="progress-bar bg-danger" role="progressbar" style="width:14rem" aria-valuenow="100"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



  </div>
  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>